.movies_filter {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.movies_filter--text {
    font-weight: 500;
    cursor: pointer;
}

.movies_filter-icon {
    width: 1.4rem;
    height: 1.4rem;
    transition-duration: 0.5s;
    cursor: pointer;
}

.movies_filter_icon-open {
    color: red;
    rotate: 180deg 0;
    opacity: 1;
    transition-duration: 0.5s;
}
