
.mvl-character-card{
    height: 355px;
    overflow: hidden;
    background: var(--color-primary-dark);
    color: var(--color-accent);
    cursor: pointer;
    border: solid red;
}

.mvl-character-card:hover .mvl-character-card__image{
    transform: scale(1.1);
    height: 97%;
}

.mvl-character-card__image-container{
    background: black;
    height: 50%;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 5px;
        background: red;
        position: absolute;
        bottom: -5px;
        z-index: 2;
    }
}

.mvl-character-card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left bottom;
    transform: scaleX(1);
    border-bottom: 2px solid red;
}

.mvl-character-card__body{
    padding: var(--space-sm);
    height: 2px;
    transition: height 2s;
}
.mvl-character-card:hover .mvl-character-card__body{
    height: 355px;
    background: red;
}

.mvl-character-card[data-is-skeleton=true]{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--color-skeleton);
        opacity: 0.9;
        z-index: 3;
    }
}

.Title-character {
    font-weight: bolder;
}


