.filter_search {
  border: 1px solid transparent;
  border-bottom: 1px solid var(--black);
}

.icon_search {
  position: static;
}

.filter_search:focus-within {
  border: 1px solid var(--color-warning);
}

.input-search {
  width: 94%;
  border-radius: 0;
  font-size: 1.5rem;
  border: 0;
  padding-bottom: 0.4375rem;
  margin-left: 10px;
  outline: none;
  position: static;
  font-weight: bolder;
}
