.mvl-characters-page-header{
    background-image: url("/assets/images/characters_banner.jpeg");
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-accent);
    flex-direction: column;
  
}