.mvl-characters-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
}

.mvl-characters-page-header {
  background-image: url('/assets/images/gif_marvel.gif');
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-accent);
  flex-direction: column;
  width: 100%;
}


.mvl-section-card {
  background-image: url('/assets/images/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 2px solid var(--color-border);
}

