*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.not_found_flex {
    display: flex;
    align-items: center;
  }
  
  .not_found_info {
    width: 30%;
    align-content: center;
  }
  
  .not_found_img {
    height: 20%;
    width: 50%;
    background-color: rgb(255, 255, 255);
  }

  .image_not_found {
    height: 10%;
  }