* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.not_found_flex {
  display: flex;
  align-items: center;
  width: 98vw;
  height: 100vh;
}

.not_found_info {
  width: 47vw;
  align-content: center;
  padding-left: 10vw;
}

.not_found_img {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  padding-left: 48vw;
  background-image: url(https://i.annihil.us/u/prod/marvel/html_pages_assets/error-pages/prod/black-widow-char.e296fbe1.jpg);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
}

.error-image-animate {
  background-image: url(https://i.annihil.us/u/prod/marvel/html_pages_assets/error-pages/prod/black-widow-eye.d8a46f86.png);
  background-repeat: no-repeat;
  width: 19vw;
  height: 19vh;
  position: absolute;
  left: 44.5vw;
  right: 0;
  top: 58.5vh;
  bottom: 0; 
  margin: 0 auto;
  transform: rotate(274.08deg);
  display: flex;
}