.mvl-navbar{
    padding: 10px;
    background-color: var(--color-primary-dark);
    height: 60px;
    display: inline-flex;
    width: 100vw;
    justify-content: space-between;
    padding: 16px 100px;
    box-sizing: border-box;
}

.mvl-navbar--left{
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.mvl-navbar-item{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mvl-navbar-item--text{
    color: var(--color-accent);
    text-decoration: none;
    background-color: green;
    font-weight: bold;
    &:hover{
    color: var(--color-primary-light);
    }
}

.mlv-navbar__image{
    margin-right: 60px;
}

.mvl-navbar__actions{
    height: 100%;
    gap: 16px;
}


.mvl-navbar--right{

}


.mvl-navbar__actions{
    display: flex;
    justify-content: space-between;
}

.mvl-navbar__img{
    max-height: 100%;
}


  
.typeahead__input {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font: 800 26px/1 RobotoCondensed,Trebuchet MS,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 0;
    border-bottom: 2px solid #151515;
    width: 50%;
    padding-bottom: .4375rem;
    padding-left: 1.875rem;
    border-radius: 0;
    }
    :focus {
        outline-color:rgba(226, 226, 19, 0.89);
        }
  

