@mixin centerFlex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin grid($colum, $row, $ancho) {
    width: $ancho;
    display: grid;
    grid-template-columns: repeat($colum, 1fr);
    grid-template-rows: repeat($row, 1fr);
    gap: 1rem;
    margin: 0 auto;
  }