.mvl-main-footer{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-dark);
    color: var(--color-accent);
}


// .section-columns > div{
//     display: flex;
// }
// #insider-sellpage, #insider-sellpage p, body {
//     font: 400 16px/1.3 Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
//     letter-spacing: .5px;
// }
// #insider-sellpage .flex-wrapper{
//     display: flex;
//     flex-wrap: wrap;
//     max-width: 1240px;
//     padding: 0 30px;
//     margin: 0 auto;
// }