@import '../../../../../assets/styles/main.scss';

.marvel-menu-footer {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 15% 15% 35% 20%;
  color: white;
  height: 300px;
  align-items: center;
  background-color: var(--color-primary-dark);
  color: var(--color-accent);
  font-size: 14px;
  font-weight: 600;

  a {
    text-decoration: none;
    color: white;
  }

  ul {
    list-style: none;
    line-height: 1.8;
  }

  a:hover {
    color: gray;
  }
}

.menu-footer-logo {
  @include centerFlex;
  img {
    width: 80px;
    height: 120px;
  }
}

.menu-footer-promo {
  display: flex;
  flex-direction: column;
}
.menu-footer-promocion-link {
  @include centerFlex;

  h4 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
  }

  h4:hover {
    color: none;
  }

  p {
    margin-top: 0px;
    font-size: 12px;
    color: gray;
  }

  img {
    width: 54px;
    height: 24px;
    margin-right: 30px;
  }

  .ilimitado {
    width: 25px;
    height: 35px;
    margin-right: 35px;
  }
}

.icono-1 {
  margin-right: 50px;
  h4 {
    font-size: 14px;
    margin-bottom: 20px;
  }

  ul {
    @include grid(3, 0, 100%);
    padding: 0;
  }
}

.icono {
  width: 24px;
  height: 25px;
}