.items-grid-filters_2{
    display: flex;
}

.mvl-container-search-left {
    border: 0;
    border-bottom: 2px solid #151515;
    width: 50%;
    text-align: left;
    padding-bottom: 0.4375rem;
    padding-left: 1.875rem;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font: 800 26px/1 RobotoCondensed, Trebuchet MS, Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

.search-container__icon {
    position: absolute;
    stroke: #191919;
    padding: 15px;
    font-size: x-large;
    margin: -8px 0 1px -18px;
    padding-top: 1vw;
}