.mvl-character-gri-input {
    border-right: none;
    border-left: none;
    border-top: none;
    width: 100%;
    outline-color: #F27405;
    font-size: 26px;
    padding: 1px 2px 7px 30px;
    background-image: url("/assets/images/search.png");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: 2px 4px ;
}
