//Total characters style
.results_totalItems {
  font: 400 13px/1 Roboto Bold, Trebuchet MS, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #767676;
  font-weight: bold;
}
