*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.not_found_flex {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .not_found_info {
    width: 47%;
    align-content: center;
  }
  
  .not_found_img {
    background-color: rgb(255, 255, 255);
    height: 604px;
  }

  .image_not_found{
    height: 100%;
  }