body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* cambios en la barra de busqueda SEARCH */
.input-nav {
  width: 40%;
  border-radius: 0;
  font-size: 2rem;
  border: 0;
  border-bottom: 3px solid rgb(201, 28, 28);
  padding-bottom: 0.4375rem;
  background-color: rgb(255, 255, 255);
}